version: "3.8"
services:

  postgres:
    image: postgres:latest
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    volumes:
      - ./ddl/ddl-init.sql:/docker-entrypoint-initdb.d/ddl-init.sql
      - ./dml/dml-init.sql:/docker-entrypoint-initdb.d/dml-init.sql
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      retries: 5
    restart: always

  clickhouse:
    image: clickhouse/clickhouse-server:latest
    networks:
        - clickhouse
    ulimits:
        nofile:
          soft: 262144
          hard: 262144 
    ports:
      - "8123:8123"
    volumes:
      - "clickhouse-data:/var/lib/clickhouse"
      - ./ddl/ddl-init.sql:/docker-entrypoint-initdb.d/ddl-init.sql
      - ./dml/dml-init.sql:/docker-entrypoint-initdb.d/dml-init.sql

  click-ui:
    image: spoonest/clickhouse-tabix-web-client
    networks:
        - clickhouse
    depends_on:
      - clickhouse
    ports:
      - "8124:80"
    restart: always
volumes:
  clickhouse-data:
networks:
    clickhouse: